/* Header.css */
header {
  background-color: #fffdfd;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
}

h1 {
  margin: 0;
  font-size: 24px;
}

.button-container {
  margin-top: 20px;
}

.button-container button {
  margin-right: 10px;
  /* padding: 10px 20px; */
  height: 70px;
  width: 190px;
  background-color: #ff4757;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* font-size: 15px; */
  /* font-weight: bold; */
}

.button-container button h3 {
  margin-bottom: 5px; /* Adjust the margin bottom of the heading tag */
}

.button-container button span {
  font-size: 18px; /* Adjust the font size of the span */
}


.button-container button:hover {
  background-color: #e71212;
}

.error-message {
  color: red;
}
